.text{
    font-size:22px;
    line-height: 1.6em;
    color:#c4c5c5;
    margin-bottom: 30px;
    text-align:center;
}
.cardwrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6rem;
}
.signInWrapper{
    margin-top:20px
}
.hasInvite{
    color: #0077ff;
}